body{
    padding: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(46, 46, 46);
}
main{
    font-size: 1.5rem;
    line-height: 2.2rem;
}
section{
    font-size: 1rem;
    max-width: 1000px;
}

img{
    margin-top: 8px;
    margin-bottom: 15px;
    max-width: 1000px;
}

p{
    max-width: 80vw;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 1.6rem;
}
h1, h2, h3{
    /* margin: 10 0 10 0; */
    color: rgb(54, 54, 54);
}

h5, h4{
margin: 8 0 6 0;
}

p{
margin: 2 0 6 0;
}

br{
    line-height: 1px;
}