body{
    padding: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34, 34, 34);
}
section{
    font-size: 1.2rem;
    line-height: 1.6rem;
    max-width: 1000px;
}

img{
    margin-top: 8px;
    margin-bottom: 15px;
    max-width: 1000px;
}

p{
    max-width: 80vw;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 1.6rem;
}
h1, h2, h3{
    /* margin: 10 0 10 0; */
    color: rgb(41, 41, 41);
}

h5, h4{
margin: 8 0 2 0;
}

p{
margin: 2 0 6 0;
}